.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**.venv
**__pycache__/
.history
serving_dir
.ipynb_checkpoints/
**test.py
**data
*.prefectignore
service_account_keys.json

# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content

dtc-de-project.json


